### Dirs: ###

# Excel temporary files:
~$*.xls*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
/Chiesa/_01 - tmpBibleFolderDL
/ChiesaTest
/habit-tracker-example
/Ideaverse Lite 1.5
/Import_GitHub
/LYT-Kit
/scriptures
/Vault_vuoto1
/Vault_vuoto2
/Zettelkasten
Chiesa/_07 - Errori sito Vaticano/Gaudium ed Spes punto 41.png
Chiesa/_07 - Errori sito Vaticano/Gaudium ed Spes punto 64, formattazione diversa stesso paragrafo.png
Chiesa/_07 - Errori sito Vaticano/Gaudium ed Spes punto 71 mancante perchè non ha la formattazione come gli altri punti.png
Chiesa/_07 - Errori sito Vaticano/Matteo 15,10.png
