/habit-tracker-example
/Ideaverse Lite 1.5
/Import_GitHub
/LYT-Kit
/scriptures
/Vault_vuoto1
/Zettelkasten
/*.7z
/*.pdf
/Chiesa/Documenti pontifici/_tmpHTML.html
/Chiesa/Documenti pontifici/_tmpAI.md
/Chiesa/Documenti pontifici/_Prompt IA per estrazione Documenti pontifici.md
/Chiesa/.obsidian
/Chiesa/Vecchi file NON su GitHub
